<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Comentarios</title>
</head>
<body>
  <h1>Bienvenido a la Página de Comentarios</h1>
  <p>Hola, <strong>{{username}}</strong>!</p>
  <p>Comentarios:</p>
  <ul>
    {{#each comments}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
  <a href="/write-comment">Escribir un Comentario</a>
  <br>
  <a href="/logout">Cerrar Sesión</a>
</body>
</html>

